<div class="row">
  <div class="column column-80" style="background-color: red">
  </div>
  <div class="column column-20" style="background-color: yellow">
    <h2>PLAYERS</h2> 
    <%= form_for :sea_world_game, "#", [phx_submit: :start_game], fn f -> %>
      <%= text_input f, :player, placeholder: "write your name here..." %>
      <%= submit "submit" %>
    <% end %> 
  </div>
</div>
